@import"tailwindcss";
  .body { 
    font-family: sans-serif; 
    margin-top:30px ;
    text-align: center;
   }
   .w{
    color: rgb(42, 179, 1);
   }
  .calculator {
    display: inline-block;
     border: 1px solid #ccc; 
     padding: 5px;
     margin: 5px;
    background-color: rgb(65, 36, 192);
    border: #0f0e0e;
    border-radius: 20px;
    box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.692);
     }
    .b {
         width: 320px; 
         height: 60px;
         margin-left: 8px;
         margin-right: 8px;
         background-color: rgb(207, 216, 150);
         font-size: 50px; 
         text-align: right;
         border-radius: 28px;
         
        }
    /* .button {
         width: 150px;
          height: 150px;
           font-size: 18px;
            margin: 2px; } */
 .f{
color: black;
background-color: rgb(243, 81, 202);
width: 100px;
height: 100px;
border-radius: 30px;
font-size: 50px;
margin: 5px;
 }
 .s{
  color: black;
background-color:rgb(48, 127, 231) ;
width: 100px;
height: 100px;
border-radius: 30px;
font-size: 50px;
margin: 5px;
 }
 .t{
  color: black;
background-color:  rgb(79, 231, 155);
width: 100px;
height: 100px;
border-radius: 30px;
font-size: 50px;
margin: 5px;
 }
 .a{color: black;
background-color:rgb(224, 103, 47) ;
width: 100px;
height: 100px;
border-radius: 30px;
font-size: 50px;
margin: 5px;
}
.d{
  color: black;
background-color: rgb(199, 236, 64);
width: 100px;
height: 100px;
border-radius: 30px;
font-size: 50px;
margin: 5px;
}
.q{
color: black;
background-color: rgb(238, 55, 55);
width: 100px;
height: 100px;
border-radius: 30px;
font-size: 45px;
margin: 5px;
}
.y{
color: black;
background-color: rgb(21, 179, 158);
width: 100px;
height: 100px;
border-radius: 30px;
font-size: 50px;
margin: 5px;
}